{
  "mode": "production",
  "syncOptions": {
    "force": false
  },
  "environment": { 
    "development": {
      "port": 3000,
      "ssl": {
        "enabled": false,
        "key": "",
        "cert": ""
      },
      "db": {
        "name": "tutorme_dev",
        "user": "dev_user",
        "password": "some_password"
      },
      "permissions": {
        "all": [ "/users/login", "/users/register", "/convert/[0-9]*", "/version" ]
      }
    },
    "production": {
      "port": 3000,
      "ssl": {
        "enabled": true,
        "key": "ssl/key.pem",
        "cert": "ssl/cert.pem"
      },
      "db": {
        "name": "tutorme_prod",
        "user": "prod_user",
        "password": "some_password"
      },
      "permissions": {
        "all": [ "/users/login", "/users/register", "/convert" ]
      }
    }
  },
  "apiVersion": "3"
}
