[Unit]
Description=Backend of Tutor Me

[Service]
Environment="NODE_ENV=production"
WorkingDirectory=/srv/nodejs-tutorme
ExecStart=/usr/bin/node /srv/nodejs-tutorme/app.js
User=node

[Install]
WantedBy=multi-user.target
